/* Import */
@import url("http://fonts.googleapis.com/css?family=Sniglet|Oswald");

body, html, canvas {
  margin: 0px; 
  padding: 0px; 
  position: absolute; 
  background-color:#f72206; 
}

h1 {
  position: absolute; 
  z-index: 1000; 
  margin-left: 200px; 
  color: #ecf0f1; 
  font-family: Sniglet; 
  font-size: 55px; 
  top: -30px; 
  pointer-events: none; 
}
.rain {
  width: 135px; 
  height: 45px; 
  background-color: lightred 
  top: 0px; 
  right: 0px; 
  position: fixed; 
  line-height: 22px; 
  font-size: 20px; 
  padding: 10px; 
  border-bottom-left-radius: 10px 
  text-align: center; 
}

a {
  color: #0f0101                                                                ; 
}
